Repository Clochette-AbsINThe/clochette, pull requests merged in 2022-12, with the labels that each got.

#88 Dev fixing tactile issue
  frontend/src/components/PopupWindows.tsx
  frontend/src/components/Stock/Barrel/AddCard.tsx
  frontend/src/components/Stock/Barrel/BarrelMountedCard.tsx
  frontend/src/components/Stock/Barrel/BarrelStack.tsx
  frontend/src/components/Stock/Barrel/StockBarrel.tsx
  frontend/src/components/Stock/Consumable/ConsumableStack.tsx
  frontend/src/components/Stock/Consumable/StockConsumable.tsx
  frontend/src/components/Stock/Stock.tsx
  frontend/src/components/Transaction/Buy/BuyPage.tsx
  frontend/src/components/Transaction/Buy/Form.tsx
  frontend/src/components/Transaction/PaymentMethodForm.tsx
  frontend/src/components/Transaction/Sell/SellPage.tsx
  frontend/src/components/Transaction/Transaction.tsx
  frontend/src/hooks/useGetBoundingClientRect.ts
  frontend/src/layouts/base.tsx
  frontend/src/styles/base.scss
  frontend/src/styles/utils.tsx
  frontend/src/types/types.ts
  frontend/tailwind.config.js
  frontend/tests/components/BuyPage.test.tsx
  frontend/tests/components/PopupWindows.test.tsx
  frontend/tests/components/SellPage.test.tsx
  frontend/tests/components/Transaction.test.tsx
  frontend/tests/hooks/useGetBoundingClientRect.test.ts
  frontend/vitest.config.ts
Labels: enhancement, FrontEnd

#90 Change ci/cd workflows
  .github/workflows/build-and-push.yml
  .github/workflows/deploy-to-prod.yml
  .github/workflows/deploy.yml
  .github/workflows/release-on-push.yml
  docker/docker-compose.yml
Labels: enhancement, DevOps

#93 [Feature] - Refactor docker images
  .github/workflows/build-and-push.yml
  .github/workflows/deploy-to-prod.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/release-on-push.yml
  DeployDocker.sh
  README.md
  docker/.gitignore
  docker/Readme.md
  docker/backend/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docker/frontend/Dockerfile
  docker/reverse-proxy/Dockerfile
  docker/reverse-proxy/security.conf
  docker/reverse-proxy/template.conf
Labels: DevOps, security

#99 Query parameters support
  backend/app/api/v1/endpoints/out_of_stock_item.py
  backend/app/api/v1/endpoints/transaction.py
  backend/app/core/middleware.py
  backend/app/core/utils/misc.py
  backend/app/crud/base.py
  backend/app/schemas/transaction.py
Labels: enhancement, Backend

#100 Add comments and documentation is reST format to backend code
  backend/app/core/middleware.py
  backend/app/core/security.py
  backend/app/crud/base.py
  backend/app/crud/crud_transaction.py
  backend/app/crud/crud_treasury.py
  backend/app/db/base_class.py
  backend/app/db/session.py
  backend/app/dependencies.py
  backend/app/routers/__init__.py
  backend/app/schemas/item.py
Labels: documentation, Backend

#101 Feature/modify account post endpoint
  backend/app/models/account.py
  backend/app/schemas/account.py
  backend/requirements.txt
Labels: enhancement, Backend
