Repository Clochette-AbsINThe/clochette, pull requests merged in 2023-04, with the labels that each got.

#127 Fix inconsistencies in successive changes to the treasury amount
  backend/app/core/decorator.py
  backend/app/core/types.py
  backend/app/crud/base.py
  backend/app/crud/crud_treasury.py
Labels: bug, Backend

#132 v2.0.1
  .github/workflows/release-on-push.yml
Labels: release:patch

#134 v2.1.0
  docker/docker-compose.prod.yml
  frontend/src/components/Admin/Login.tsx
  frontend/src/components/Admin/Register.tsx
Labels: release:minor

#135 Hotfix/Frontend fixing floating price out of stocks
  frontend/src/components/Admin/Login.tsx
  frontend/src/components/Admin/Register.tsx
  frontend/src/components/ConfigurationPage/ConfigurationOutOfStockItem.tsx
Labels: FrontEnd

#136 Hotfix/Frontend fixing floating price out of stocks
  frontend/src/components/Admin/Login.tsx
  frontend/src/components/Admin/Register.tsx
  frontend/src/components/ConfigurationPage/ConfigurationOutOfStockItem.tsx
Labels: release:patch
